/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  height: calc(60vh - 3.75rem);
  /* min-height: 600px; */
  padding: 4rem;
  position: relative;
  overflow: hidden;
  border-bottom-right-radius: 40vh;
  justify-content: space-between;
  align-items: start;
  gap: 50px;
}

.title {
  font-size: 80px;
  width: 50%;
}

.squrae {
  display: block;
  width: 400px;
  height: 100%;
  border-radius: 50px;
  background-color: white;
  z-index: 99;
  position: relative;
}

.portrait {
  position: absolute;
  top: -20px;
  /* width: 90%; */
  height: calc(100% + 20px);
  /* width: 200px; */
}

.icon {
  width: 400px;
  height: 400px;
  opacity: 0.3;
  transform: rotate(30deg);
  z-index: 0;
  position: absolute;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    flex-direction: column;
    align-items: center;
    padding: 4rem 1rem;
  }

  .squrae {
    display: none;
    overflow: hidden;
    border-radius: 50px;
    background-color: white;
  }

  .title {
    font-size: 80px;
    width: 90%;
    font-size: 55px;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}
