/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  height: 60vh;
  padding: 4rem;
  position: relative;
  overflow: hidden;
  border-bottom-right-radius: 20rem;
  justify-content: space-between;
  align-items: start;
  gap: 100px;
}

.title {
  font-size: 100px;
  width: 50rem;
}

.squrae {
  width: 30rem;
  height: 100%;
  border-radius: 50px;
  background-color: white;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}
